@import '../styles/vars.scss';

.container {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 20px 0;
    height: 100vh;
    box-sizing: border-box;

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;

    @media (max-width: $mobile) {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

.content {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;

    @media (max-width: $mobile) {
        width: 100%;
    }
}
